@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

label {
  font-size: 0.7rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  border: 1px solid #ff6366;
  margin: 100px 50px;
  border-radius: 5px;
}

.header {
  font-family: "Girassol", cursive;
}

.label {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Girassol", cursive;
}

.btn-group {
  display: flex;
  font-family: "Girassol", cursive;
  justify-content: center;
}

.error {
  font-size: 1rem;
}

.sign-header {
  border-bottom: 2px solid #ff6366;
  width: 250px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .main {
    /* background-color: lightblue; */
    height: fit-content;
    padding: 20px;
    margin: 10px;
  }
  .img-fluid {
    margin-top: 25px;
  }
}
